:root {
  --rausch-brown: #2f1d14;
  --rausch-gold: #c6a26b;
  --cream: #f6f2ed;

  --germany: #c8a15b;
  --usa: #0c4da2;
  --taiwan: #b21f2d;
  --venezuela: #f2c200;
  --italy: #2f6b3a;
}

.card {
  transition: all .35s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.hero-content {
  animation: fadeUp 1s ease;
}
